<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<p><h4>Hello Paw  🐾</h4></p>

<p></p>

<p>Hello Paw is the platform where you can find everything for your pet.</p>
<p>Our services :
   <ul>
    <li>DayCare</li>
    <li>Boarding</li>
    <li>Medicare</li>
    <li>Products</li>
   </ul>

Here you will get best Daycare & Boarding service. Best Medical consultation service. Best Products for your pet.
</p>

<p>
    <b>Hello Paw</b><br>
    Symbol of Love ❤️ & Care 🐾

</p>



</body>
</html>