<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<p><h3><b>Welcome to HelloPaw</b></h3></p>
<p>Endless Love....🐶
<p>Trusted Support.....🐶</p>
<p>
	<a href="http://127.0.0.1:8000/about/" class="btn btn-secondary px-4 py-2 btn-sm">About</a>
</p>
<p>
	<a href="http://127.0.0.1:8000/service/" class="btn btn-secondary px-4 py-2 btn-sm">Service</a>
</p>
<p>
	<a href="http://127.0.0.1:8000/users" class="btn btn-secondary px-4 py-2 btn-sm">Users</a>
</p>
<p>
	<a href="http://127.0.0.1:8000/shop" class="btn btn-secondary px-4 py-2 btn-sm">Shop</a>
</p>
</body>
</html>